<div class="prod">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>{{title}}</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span>{{desc}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="bg">
    <div class="desc">
      <mat-card>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-content>
          <p>Ideal para todo tipo de piel. Este gel limpiador de grado médico elimina las impurezas, el exceso de grasa
            y
            el
            maquillaje, dejando la piel limpia, tersa y suave.</p>
          <h4>Ingredientes</h4>
          <ul>
            <li>Extracto de Romero</li>
            <li>Extracto de Semilla de uva</li>
            <li>Vitamina C</li>
          </ul>
          <h4>Beneficios</h4>
          <ul>
            <li>Retira contaminantes ambientales, exceso de grasa y maquillaje</li>
            <li>Ayuda a reponer la humectación perdida</li>
            <li>Deja la piel con una sensación limpia,suave y lisa</li>
            <li>Libre de aceita, de alcohol, hipoalergénico y no-comedogénico</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="rel">
      <app-limpiadores></app-limpiadores>
    </div>
  </div>
</div>